<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>choi Taco Cloud</title>
    <link rel="stylesheet" th:href="@{style.css}">
</head>

<body>
    <h1>Design your taco</h1>
    <img th:src="@{/images/TacoCloud.png}"/>

    <form method="post" th:object="${taco}">
        <span class="validationError"
              th:if="${#fields.hasErrors('ingredients')}"
              th:errors="*{ingredients}">Ingredient Error</span>

        <div class="grid">
            <div class="ingredient-group" id="wraps">
                <h3>Designate your wrap:</h3>
                <div th:each="ingredient : ${wrap}">
                    <input type="checkbox" name="ingredients" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                </div>
            </div>

            <div class="ingredient-group" id="protein">
                <h3>Designate your protein:</h3>
                <div th:each="ingredient : ${protein}">
                    <input type="checkbox" name="ingredients" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                </div>
            </div>

            <div class="ingredient-group" id="cheeses">
                <h3>Designate your cheeses:</h3>
                <div th:each="ingredient : ${cheese}">
                    <input type="checkbox" name="ingredients" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                </div>
            </div>

            <div class="ingredient-group" id="veggies">
                <h3>Designate your veggies:</h3>
                <div th:each="ingredient : ${veggies}">
                    <input type="checkbox" name="ingredients" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                </div>
            </div>

            <div class="ingredient-group" id="sauces">
                <h3>Designate your sauces:</h3>
                <div th:each="ingredient : ${sauce}">
                    <input type="checkbox" name="ingredients" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                </div>
            </div>

        </div>

        <div>

        <h3>Name your taco creation:</h3>
        <input type="text" th:field="*{name}">
        <span th:text="${#fields.hasErrors('name')}">타코</span>
        <span class="validationError"
              th:errors="*{name}">Name Error</span>
        <br/>
        <button>Submit Your Taco</button>

        </div>
    </form>
</body>
</html>